<!-- Boton regresaar -->
<div class="row">
  <div class="col-md-2">
    <div style="margin-bottom: 10px; margin-left: 50px;">
      <div class="">
        <button style="color: #00993e;" mat-icon-button aria-label="remove" 
        (click)='atras("atras", presentacion)'>
        <mat-icon style="font-size: 30px;">reply</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="container {{claseTamano}}">
    <div class="row">
      <div class="col">
      <h1 class="title">{{accion == 'guardar' ? 'Crear noticia' : 'Modificar noticia'}}</h1>
      </div>
    </div>
  </div>
  
  <div class="row" id="row-1">
    <!-- Divición sección excel -->
    <div class="col-4" id="columna-recuadro-excel"
      *ngIf="currentScreenSize == 'Large' || currentScreenSize == 'XLarge'">
      <div id="recuadro-excel" class="recuadro-excel center-y center-x">
        <img id="imagen" class="stats-logos"  />
      </div>
      <div class="div-button center-y center-x">
        <button class="btn-round btn-success" (click)="abirCargaArchivo($event)"> <b>Cargar archivo</b> <br> (Extensiones
          jpg - png)</button>
          <span class="span-obligatorio" id="spanImagen">Carga de imagen requerida</span>
        <input type="file" id="uploadFile" style="display: none;"
          (change)="addFile($event)">
      </div>
    </div>
    {{anadirImagen()}}
    <div class="col-8" id="columna-formulario">
      <!-- Fila titulo noticia -->
      <div class="div-input row">
        <div class="col-4 columna">
          <label for="">Titulo de la noticia *</label>
        </div>
        <div class="col columna">
          <input [(ngModel)]="noticia.titulo" type="text"
            id="tituloNoticia" class="input-form" (change)="removeClass($event)"
            (keyup)="validarLongitud($event)" maxlength="100">
          <span class="span-obligatorio" id="spanTitulo">Campo requerido</span>
          <span class="span-obligatorio" id="spanTituloC">Tamaño maximo 100 caracteres</span>
        </div>
      </div>
      <!-- Fila rango de fechas -->
      <div class="row">
        <div class="col-3 div-input">
          <div class="columna">
            <label for="">Fecha inicial *</label>
          </div>
        </div>
        <div class="divCalendar">
          <mat-datepicker-toggle matSuffix [for]="fechaInicialNoticia"></mat-datepicker-toggle>
        </div>
        <div class="col columna">
          <mat-datepicker [(ngModel)]="noticia.fechaNoticia"  #fechaInicialNoticia></mat-datepicker>
          <input
            [(ngModel)]="noticia.fechaNoticia" type="text"  id="fechaInicialNoticia"
            class="input-form" [matDatepicker]="fechaInicialNoticia" style="padding-left: 30px;"
            (change)="removeClass($event)">
          <span class="span-obligatorio" id="spanFechaInicialNoticia">Campo
            requerido</span>
        </div>
      </div>
      <!-- Fila Resumen -->
      <div class="row">
        <div class="col-4 div-input columna">
          <label for="">Contenido *</label>
        </div>
        <div class="col divMensaje">
          <textarea [(ngModel)]="noticia.descripcion" id="descripcion"
            class="input-form" (change)="removeClass($event)"
            (keyup)="validarLongitud($event)" maxlength='500'></textarea>
          <span class="span-obligatorio" id="spanMensaje">Campo requerido</span>
          <span class="span-obligatorio" id="spanMensajeC">Tamaño maximo 500 caracteres</span>
        </div>
      </div>
      <!-- Fila URl -->
      <div class="row" style="margin-top: 20px;">
        <div class="col-4 div-input columna">
          <label for="">URL de la noticia *</label>
        </div>
        <div class="col divMensaje">
          <input [(ngModel)]="noticia.url" type="text" id="url" class="input-form" (keyup)="validarLongitud($event)" maxlength='500'>
          <span class="span-obligatorio" id="spanURL">Campo requerido</span>
          <span class="span-obligatorio" id="spanURLC">Tamaño maximo 500 caracteres</span>
        </div>
      </div>

      <!-- Fila contenido PUSH -->
      <div *ngIf="enviarPUSH == true" class="row" style="margin-top: 20px;">
        <div class="col-4 div-input columna">
          <label for="">Contenido PUSH *</label>
        </div>
        <div class="col divMensaje">
          <textarea [(ngModel)]="contenidoPush" id="inputPush"
            class="input-form" (change)="removeClass($event)"
            (keyup)="validarLongitud($event)" maxlength='150'></textarea>
          <span class="span-obligatorio" id="spanInputPush">Campo requerido</span>
          <span class="span-obligatorio" id="spanInputPushC">Tamaño maximo 150 caracteres</span>
        </div>
      </div>
      <!-- Fila PUSH fechas -->
      <div *ngIf="enviarPUSH == true" class="row">
        <div class="col-3 div-input">
          <div class="columna">
            <label for="">Fecha inicial *</label>
          </div>
        </div>
        <div class="divCalendar">
          <mat-datepicker-toggle matSuffix [for]="fechaInicialPush"></mat-datepicker-toggle>
        </div>
        <div class="col columna">
          <mat-datepicker #fechaInicialPush></mat-datepicker>
          <input
            [(ngModel)]="fechaInicio" type="text"  id="fechaInicialPush"
            class="input-form" [matDatepicker]="fechaInicialPush" style="padding-left: 30px;"
            (change)="removeClass($event)">
          <span class="span-obligatorio" id="spanFechaInicialPush" style="padding-right: 0px; float: left;">Campo
            requerido</span>
        </div>
      </div>

      <!-- Fila PUSH fechas -->
      <div *ngIf="enviarPUSH == true" class="row">
        <div class="col-3 div-input">
          <div class="columna">
            <label for="">Fecha final *</label>
          </div>
        </div>
        <div class="divCalendar">
          <mat-datepicker-toggle matSuffix [for]="fechaFinPush"></mat-datepicker-toggle>
        </div>
        <div class="col columna">
          <mat-datepicker #fechaFinPush></mat-datepicker>
          <input
            [(ngModel)]="fechaFin" type="text"  id="fechaFinPush"
            class="input-form" [matDatepicker]="fechaFinPush" style="padding-left: 30px;"
            (change)="removeClass($event)">
          <span class="span-obligatorio" id="spanFechaFinPush" style="padding-right: 0px; float: left;">Campo
            requerido</span>
        </div>
      </div>

      <!-- Botones -->
      <div class="row" style="margin-bottom: 20px;">
        <div class="div-botones">
          <button id="checkPush"  class="boton gris push" style="width: 300px !important;" (click)="togglePUSH($event)">
            <img id="checkPush" src="../../assets/images/{{imagenBoton}}.svg" alt=""> Enviar push
          </button>
          <button class="boton azul" style="width: 250px !important;" (click)="recargar()">Cancelar</button>
          <button class="boton verde" style="width: 250px !important;" (click)="guardarCambios()">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center" id="row-2"
    *ngIf="currentScreenSize == 'Medium' || currentScreenSize == 'Small' || currentScreenSize == 'XSmall'">
    <div class="col-4" id="columna-recuadro-excel">
      <div id="recuadro-excel" class="recuadro-excel center-y center-x">
        <img id="imagen" class="stats-logos" />
      </div>
      <div class="div-button center-y center-x">
        <button class="btn-round btn-success" (click)="abirCargaArchivo($event)"> <b>Cargar archivo</b> <br>  (Extensiones
          jpg - png) </button>
        <input type="file" id="uploadFile" name="uploadFile" style="display: none;"
          (change)="addFile($event.target.files)">
        <!-- <input type="file" id="file" class="btn-round btn-success"> <b>Cargar archivos</b> <br> Formato Excel .xlsx -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="switchModal == true" class="back-modal">
  <div class="modal-dialog modalEliminar" style="margin-top: 300px;" tabindex="1040">
    <div class="modal-content" style="width: 450px; border-radius: 10px;">
      <div class="modal-header"
        style="background-color: #fff !important; border-radius: 29px 29px 0px 29px; border-bottom: 0px; padding: 10px;">
        <div style="width: 90%; float: left;"></div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"
          style="margin: 5px 5px 0 0; background-color: #00993e; border-radius: 60px; float: right;"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: center; color: black !important; padding: 20px; font-size: 25px;">{{mensajeModal}}</p>
      </div>
    </div>
  </div>
</div>