<!-- <div>
  <mat-tab-group>
    <mat-tab label="Redes sociales">
      <appcolp-redes-sociales></appcolp-redes-sociales>
    </mat-tab>
    <mat-tab label="Lineas de atención">
      <appcolp-lineas-atencion></appcolp-lineas-atencion>
    </mat-tab>
  </mat-tab-group>
</div> -->

<div class=" container">

  <div class="row">
    <div class="col">
      <h1 class="tittle-parametros">Contactanos</h1>
    </div>
  </div>

  <div class="row">

    <div class="col ">
      <div class="div-contenedor center-x  center-y">
        <img routerLink="/contactanos/redesSociales" src="../../assets/images/icono-redes-2.svg" class="" alt="" crossorigin="anonymous" />
        <!-- <mat-icon routerLink="/contactanos/redesSociales">phone_android</mat-icon> -->
      </div>
      <div class="col style= height: auto; word-wrap: break-word;">
        <p class="textCenter" for="">Redes sociales</p>
      </div>
    </div>
    
    <div class="col ">
      <div class="div-contenedor center-x center-y">
        <!-- <mat-icon routerLink="/contactanos/lineasAtencion">perm_phone_msg</mat-icon> -->
        <img routerLink="/contactanos/lineasAtencion" src="../../assets/images/icono-lineas-atencion.svg" class="" alt="" crossorigin="anonymous" />
      </div>
      <div class="col style= height: auto; word-wrap: break-word;">
        <p class="textCenter" for="">Lineas de atención</p>
      </div>
    </div>

  </div>
</div>
