<div class="row">
  <div class="col">
    <h1>Reportes</h1>
  </div>
</div>

<div class="row justify-content-end" style="margin-bottom: 10px">
  <div class="col-2">
    <button 
    class="btn btn-secondary boton-abrir-filtro" 
    type="button" 
    (click)="abrirModalFiltro()"
    style="margin-right: 30px;"
    >
      Filtros
    </button>
  </div>
</div>
<!-- Inicio de la tabla -->
<div class="row">
  <div class="col" style="overflow-x: scroll; max-width: 99%;">
    <!-- <table class="table table-striped " style="width: 140% !important;"> -->
    <table id="table-registros" class="table table-striped tableParametros " style="width: 140% !important;">
      <thead>
        <tr class="bg-success " style="color: white;">
          <td class="inicial">Tipo de documento</td>
          <td>Número de documento</td>
          <td>Versión S.O.</td>
          <td>Servicio util.</td>
          <td>Login usuario</td>
          <td>Acción realizada</td>
          <td>Correo electronico</td>
          <td style="width: 170px">Fecha - Hora</td>
          <td>Longitud</td>
          <td>Latitud</td>
          <td>País</td>
          <td class="final">Ciudad</td>
        </tr>
      </thead>
      <tbody id="bodyTableParametros" *ngIf="reportes.length > 0">
        <tr *ngFor="let reporte of reportes | slice: desde:hasta">
          <td class="inicial">{{ reporte.tipoDocumento.valor }}</td>
          <td>{{ reporte.documento }}</td>
          <td>{{ reporte.sistemaOperativo.nombre }}</td>
          <td>{{ reporte.nombreServicio.nombre }}</td>
          <td>{{ reporte.autenticado == 1 ? 'Autenticado' : 'No autenticado'}}</td>
          <td>{{ reporte.accion.nombre }}</td>
          <td>{{ reporte.correo }}</td>
          <td>{{ retornarFecha(reporte.fechaReporte) }}</td>
          <td>{{ reporte.longitud }}</td>
          <td>{{ reporte.latitud }}</td>
          <td>{{ reporte.pais.nombre }}</td>
          <td class="final">{{ reporte.ciudad.nombre }}</td>
          {{ajustarTamano(1)}}
        </tr>
      </tbody>
      <tbody id="bodyTableParametros" *ngIf="reportes.length == 0">
        <tr>
          <td colspan="13" style="text-align: center;">No se encontraron datos</td>
          {{ajustarTamano(2)}}
        </tr>
      </tbody>
    </table>
    <!-- Final De la tabla -->

    <!-- Paginación -->
  </div>
  <mat-paginator *ngIf="reportes.length > 0" [length]="reportes.length" [pageSize]="pageSize" (page)="cambiarPagina($event)"
    [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleccionar pagina">
  </mat-paginator>
</div>

<div class="flex-botones">
  <div class="col-2">
    <button class="btn btn-success listboton" (click)="exportExcel()">
      Descargar
    </button>
  </div>
</div>

<!-- modal filtro -->
<div *ngIf="switchModalFiltro == true" class="back-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title col-11 text-center" id="exampleModalLabel">Filtros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="switchModalFiltro = false"
          style="color: white; background-color: white; border-radius: 60px; float: right;"></button>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <div class="test-scroll">
          <!-- Tipo Documento -->
          <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <select class="form-control filtros" id="filtroTipoDocumento">
                <option value="0">Tipo de documento</option>
                <option *ngFor="let item of tipoDocumentoFil" value="{{ item.id }}">
                  {{ item.valor }}
                </option>
              </select>
            </div>
          </div>
  
          <!-- Numero documento -->
          <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <input placeholder="Numero de documento" type="number" id="filtroNumeroDocumento" class="form-control filtros" min="1" (keypress)="validarNumero($event)"/>
            </div>
          </div>
  
          <!-- Sistema Operativo -->
          <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <select class=" form-control filtros" name="filtroSistemaOperativo" id="filtroSistemaOperativo">
                <option value="0">Sistema operativo</option>
                <option *ngFor="let item of sistemaOperativoFil" value="{{ item.id }}">
                  {{ item.nombre }}
                </option>
              </select>
            </div>
          </div>
  
          <!-- Autenticado -->
          <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <select class=" form-control filtros" id="filtroAutenticado">
                <option [value]="null">Login usuario</option>
                <option [value]="0">No autenticado</option>
                <option [value]="1">Autenticado</option>
              </select>
            </div>
          </div>
  
          <!-- Servicios utilizados -->
          <!-- <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <select class="form-control filtros" name="filtroServicioUtilizado" id="filtroServicioUtilizado">
                <option value="0">Servicios utilizados</option>
                <option *ngFor="let item of nombreServicioFil" value="{{ item.id }}">
                  {{ item.nombre }}
                </option>
              </select>
            </div>
          </div> -->
  
          <!-- Accion Realizada -->
          <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <select class="form-control filtros" name="filtroAccionRealizada" id="filtroAccionRealizada">
                <option value="0">Accion realizada</option>
                <option *ngFor="let item of accionFil" value="{{ item.id }}">
                  {{ item.nombre }}
                </option>
              </select>
            </div>
          </div>
  
          <!-- Pais -->
          <!-- <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <select
                class="form-control filtros"
                name="filtroPais"
                id="filtroPais"
              >
                <option value="0">Pais</option>
                <option *ngFor="let item of reportePaisFil" value="{{ item.id }}">
                  {{ item.nombre }}
                </option>
              </select>
            </div>
          </div> -->
  
          <!--Ciudad -->
          <!-- <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <select class="form-control filtros" name="filtroCiudad" id="filtroCiudad">
                <option value="0">Ciudad</option>
                <option *ngFor="let item of reporteCiudadFil" value="{{ item.id }}">
                  {{ item.nombre }}
                </option>
              </select>
            </div>
          </div> -->
  
          <!-- div fecha inicio -->
          <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <input placeholder="Fecha de inicio" type="text" id="filtroFechaInicio" class="form-control filtros"
                [matDatepicker]="fechaInicio" />
              <mat-datepicker #fechaInicio> </mat-datepicker>
            </div>
            <div class="col-2">
              <mat-datepicker-toggle
                matSuffix
                [for]="fechaInicio"
                style="float: center"
              >
              </mat-datepicker-toggle>
            </div>
          </div>
  
          <!-- div fecha fin -->
          <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <input placeholder="Fecha fin" type="text" id="filtroFechaFinal" class="form-control filtros"
                [matDatepicker]="fechaFinal" />
              <mat-datepicker #fechaFinal></mat-datepicker>
            </div>
            <div class="col-2">
              <mat-datepicker-toggle
                matSuffix
                [for]="fechaFinal"
                style="float: left"
              >
              </mat-datepicker-toggle>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col div-botones">
            <button class="boton azul btn-filtros" (click)="limpiarFiltros()">
              Limpiar
            </button>
          </div>
          <div class="col div-botones">
            <button class="boton verde btn-filtros" (click)="filtrar()">
              Filtrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>